In [8]:
import pandas as pd

df = pd.read_csv('data/bank-full.csv', sep=';')

df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [9]:
df.shape

(45211, 17)

### Check data types

In [14]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

### Check duplicated rows

In [11]:
df[df.duplicated()]

Empty DataFrame
Columns: [age, job, marital, education, default, balance, housing, loan, contact, day, month, duration, campaign, pdays, previous, poutcome, y]
Index: []

### Check missing values

In [12]:
df.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [13]:
from ydata_profiling import ProfileReport

profile = ProfileReport(df,title="Bank Marketing")

profile.to_file("banking_report.html")

100%|██████████| 17/17 [00:00<00:00, 340.49it/s]<00:00, 15.60it/s, Describe variable: y]
Summarize dataset: 100%|██████████| 75/75 [00:05<00:00, 12.54it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.93s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  4.59it/s]
Export report to file: 100%|██████████| 1/1 [00:00<?, ?it/s]